<!DOCTYPE html>

<html>
    <head>
        <title>LabMate - Laboratories</title>
        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="/css/pop-up.css">
        <link rel="stylesheet" href="/css/theme-style.css">
        <link rel="stylesheet" href="/css/navbar-style.css">
        <link rel="stylesheet" href="/css/labtech-laboratories.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <script>
            /* adds outline design on active page in navigation bar */
            $(document).ready(function() {$.getScript("js/navbar-labtech.js");});
        </script>
    </head>

    <body>
        <div data-include="navbar-labtech-signedin"></div>

        <div class = "frame">
            <span class = "header">Reserve a Slot</span>

            <div class = "dropdown">
                <span class = "dropdown-header">Laboratory</span>

                <form method = "GET" action = "/labtech-laboratories">
                    <select name = "labs" id = "labs" onchange = "this.form.submit()">
                        <option value = "" disabled selected>Select a Laboratory</option>
                        {{#each labs}}
                            <option value="{{this._id}}"
                                {{#equal this._id ../selectedLabId}}selected = "selected"{{/equal}}
                            >{{this.laboratoryName}} {{this._id}}</option>
                        {{/each}}
                    </select>
                </form>
            </div>

            
            <div class = "dropdown">
                <span class = "dropdown-header">Date</span>

                <select name = "dates" id = "dates">
                    <option value = "" disabled selected>Select a Date</option>
                    {{#each next7Days}}
                        <option value="{{this.formattedDate}}">{{this.displayDate}}</option>
                    {{/each}}
                </select>
            </div>

            <div class = "popup2" id = "popup-frame-1">
                <div class = "popup-box">
                    <span class = "popup-header">8:30 AM - 9:00 AM</span>
                    <img class = "user-img" src = "img/default-profile.png" onclick="location.href='/labtech-demo-profile1'"></img>
                    <span class = "user-name">Anja Gonzales</span>
                </div>
            </div>

            <div class = "popup2" id = "popup-frame-2">
                <div class = "popup-box">
                    <span class = "popup-header">10:00 AM - 11:00 AM</span>
                    <img class = "user-img" src = "img/default-profile.png" onclick="location.href='/labtech-demo-profile2'"></img>
                    <span class = "user-name">Liana Ho</span>
                </div>
            </div>

            <div class = "popup2" id = "popup-frame-3">
                <div class = "popup-box">
                    <span class = "popup-header">9:30 AM - 10:00 AM</span>
                    <img class = "user-img" src = "img/default-profile.png"></img>
                    <span class = "user-name">Anonymous User</span>
                </div>
            </div>

            <div class = "popup2" id = "popup-frame-4">
                <div class = "popup-box">
                    <span class = "popup-header">10:30 AM - 12:00 PM</span>
                    <img class = "user-img" src = "img/default-profile.png" onclick="location.href='/labtech-demo-profile3'"></img>
                    <span class = "user-name">Angelo Rocha</span>
                </div>
            </div>

            <div class = "popup2" id = "popup-frame-5">
                <div class = "popup-box">
                    <span class = "popup-header">7:30 AM - 8:00 AM</span>
                    <img class = "user-img" src = "img/default-profile.png" onclick="location.href='/labtech-demo-profile4'"></img>
                    <span class = "user-name">Grass Capote</span>
                </div>
            </div>

            <div id = "chart">
                <span id = "chart-header">Slot Availability</span>

                <div id = "chart-body">
                    {{#if capacity}}
                    <table id = "slot-chart">
                        <thead>
                            <tr>
                                <th id = "seat-header">Seat</th>
                                <div id = "time-header">
                                   {{#each timeSlots}}
                                        <th>{{this}}</th>
                                   {{/each}}
                                </div>
                            </tr>
                        </thead>

                        <tbody>
                            {{#each range 1 capacity}}
                            <tr>
                                <td>Seat {{this}}</td>
                                {{#each ../timeSlots}}
                                    <td>
                                        <button class = "clickable-seat"
                                            seat-number = "{{@../index}}"
                                            seat-time = "{{this}}">
                                        </button>
                                    </td>
                                {{/each}}
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    {{/if}}
                </div>

            </div>

            <div id = "legend">
                <div id = "legend-available">
                </div>
                <span class = "legend-text">Available</span>
                <div id = "legend-selected">
                </div>
                <span class = "legend-text">Selected</span>
                <div id = "legend-unavailable">
                </div>
                <span class = "legend-text">Unavailable</span>
                <div id = "legend-booking">
                </div>
                <span class = "legend-text">Your Booking</span>
            </div>

            <div class = "dropdown">
                <span class = "dropdown-header">Reserve until...</span>

                <select name = "endtimes" id = "endtimes">
                    <option value = "" disabled selected>Select an End Time</option>
                    <option value = "time1">8:00 AM</option>
                    <option value = "time2">8:30 AM</option>
                    <option value = "time3">9:00 AM</option>
                    <option value = "time4">9:30 AM</option>
                    <option value = "time5">10:00 AM</option>
                    <option value = "time6">10:30 AM</option>
                    <option value = "time7">11:00 AM</option>
                    <option value = "time8">11:30 AM</option>
                    <option value = "time9">12:00 PM</option>
                </select>
            </div>

            <div class = "dropdown">
                <span class = "dropdown-header">Student's Name</span>

                <input type = "text" id = "student-name">
            </div>

            <button id = "reserve-button" onclick="openPopup()"> Create Booking for Student </button>
        </div>

        <div id="overlay" class="overlay"></div>

        <div class="container">
            <div class=popup id="confirm-popup">
                <img src="img/reservation.png" class="icon" style="margin-bottom: 15px;"/>
                <p class="message">Would you like to proceed with your reservation?
                </p>
            
                <div class="btn-wrapper">
                    <button type="cancel" class="btn1" onclick="cancel();">Cancel</button>
                </div>
    
                <div class="btn-wrapper">
                    <button type="confirm" class="btn2" onclick="confirm();">Confirm</button>
                </div>
            </div>

        </div>

        <!-- On Click Listener -->

        <script>
            var seats = document.getElementsByClassName('clickable-seat');

            for(var i = 0; i < seats.length; i++) {
                seats[i].onclick = function() {
                    if(this.style.backgroundColor === 'rgb(252, 157, 69)') {
                        this.style.backgroundColor = '#D9D9D9';
                    } else {
                        this.style.backgroundColor = '#FC9D45';
                    }
                };
            }
        </script>

        <script>
            function togglePopup(popupId) {
                document.querySelectorAll(".popup2").forEach(popup => {
                    if(popup.id != popupId) {
                        popup.classList.remove('show');
                    }
                })
                const popup = document.getElementById(popupId);
                popup.classList.toggle('show');
            }

        </script>

        <script>
            let confirmPopup = document.getElementById("confirm-popup")
            let overlay = document.getElementById("overlay");

            function openPopup(){
                confirmPopup.classList.add("open-popup");
                overlay.style.display = "block"; 
            }

            function confirm(){
                confirmPopup.classList.remove("open-popup");
                overlay.style.display = "none"; 
            }

            function cancel(){
                confirmPopup.classList.remove("open-popup");
                overlay.style.display = "none"; 
            }
        </script>
    </body>
</html>
